<div class="card mb-3 my-3">
    <div class="card-header">Listado de Alumnos</div>
    <div class="card-body text-primary">
      <!-- <h5 class="card-title">Listado de Titulares</h5> -->
  
      <table class="table table-bordered table-striped">
        <thead>
            <tr class="text-center" style="font-size: 13px;">
              <th>Co. Matricula</th>
              <th>Nombre</th>
              <th>Nivel Actual</th>
              <th>Activo</th>
              <th>Telefono</th>
              <th>Correo</th>
              <th>Editar</th>
            </tr>
        </thead>
        <tbody>
          <tr class="text-justify" style="font-size: 13px;" *ngFor="let alumno of alumnos">
            <td>{{ alumno.alumno_id }}</td>
            <td>{{ alumno.nombre }}</td>
            <td>{{ alumno.nivel }}</td>
            <td>{{ alumno.activo? 'Si':'No' }}</td>
            <td>{{ alumno.telefono }}</td>
            <td>{{ alumno.correo }}</td>
            <td>
              <button type="button" name="button" [routerLink]="['/alumnos/form',alumno.alumno_id]" class="btn btn-primary btn-sm">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

