<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand">Excellence Global English - {{ title[0] }}</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" 
        data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#registro-section" class="nav-link">{{ proceso[0] }}</a>
                </li>
                <li class="nav-item">
                    <a href="#reservas-section" class="nav-link">{{ proceso[1] }}</a>
                </li>
                <li class="nav-item">
                    <a href="#greenCards-section" class="nav-link">{{ proceso[2] }}</a>
                </li>
                <li class="nav-item">
                    <a href="#record-section" class="nav-link">{{ proceso[3] }}</a>
                </li>
            </ul>    
        </div>
    </div>
</nav>
