<!-- <div class="container-fluid pl-0">
  <div class="row">
    <div class="col-md-12 pl-3 pr-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary ml-1">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav d-flex justify-content-between">
            <li class="nav-item active" routerLinkActive="active">
              <a class="nav-link" href="#" routerLink="lunes">Lunes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Martes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Miercoles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Jueves</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Viernes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sabado</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div> -->
<div class="container py-5">
  <div class="row d-flex flex-row justify-content-center align-item-center">
    <div class="col-md-4">
        <app-card></app-card>
    </div>
    <div class="col-md-4">
        <app-card></app-card>
    </div>
    <div class="col-md-4">
        <app-card></app-card>
    </div>
  </div>
</div>
<div class="container-fluid pl-0">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>