<div class="card border-primary mb-3 my-3">
    <div class="card-header">Listado de Titulares</div>
    <div class="card-body text-primary">
      <!-- <h5 class="card-title">Listado de Titulares</h5> -->
  
      <table class="table table-bordered table-striped">
        <thead>
            <tr style="font-size: 14px;">
              <th>Id</th>
              <th>Nombre</th>
              <th>Salario</th>
              <th>Labora</th>
              <th>Telefono</th>
              <th>Telefono Lab.</th>
              <th>Correo Personal</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
          <tr style="font-size: 14px;" *ngFor="let titular of titulares">
            <td>{{ titular.titular_id }}</td>
            <td>{{ titular.nombre }}</td>
            <td>{{ titular.salario }}</td>
            <td>{{ titular.nombreTrabajo }}</td>
            <td>{{ titular.telefonoPersonal }}</td>
            <td>{{ titular.telefonoTrabajo }}</td>
            <td>{{ titular.correoPersonal }}</td>
            <td>
              <button type="button" name="edit" class="btn btn-primary btn-sm" [routerLink]="['/titulares/form',titular.titular_id]" routerLinkActive="router-link-active" >Editar</button>
            </td>
            <td>
              <button type="button" name="delete" (click)='delete(titular)' class="ml-1 btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
