

<div class="record-component">
    
     <div class="container justify-content-start">
    <div class="row mb-4" style="height: 20vh;">
      <div class="col-lg-12">
        <!-- Barra de herramientas -->
          <div class="bg-success my-1" style="width: 100%;" >
             <div class="card">

          <div class="card-header d-flex flex-row text-center py-1 
             justify-content-between align-items-center">
                    <p>Estado de Cuenta</p> 
                      <div class="" style="margin-left: 680px; margin-bottom: 2px;"> <input type="text" name="'buscar" placeholder="Buscar por..."> </div>
                       <div class="btn btn-danger">Buscar</div> 
                    </div>

                    <div class="container">
                         <div class="row">
                          <div class="col-md-12 "  >
                            <div class="card-body d-flex flex-row justify-content-end">
                             
                            <button type="button" class="btn btn-danger">Ver Información Alumno </button>
                            <button type="button" class="btn btn-danger " style="margin-left: 20px;">Exportar Estado Cuenta</button>

                            </div>
                        </div>
                    </div>
                </div>
             </div>
           </div>
      </div>
  </div>
 </div>
     
      


    <div class="container my-2">
      <div class="row justify-content-center" style="height: 70vh;">
        <div class="col-lg-12">
          <div class="card border-primary mb-3 my-3">
            <div class="card-header row justify-content-center">Estado de Cuenta - Excellence Global English</div>
            <div class="card-body text-primary">
              <table class="table table-bordered table-striped" style="font-size: .8rem;">
                <thead class="bg-danger" style="height: 5vh;">
                <tr>
                  <th>Id. Estudiante</th>
                  <th>Cuenta No.</th>
                  <th>Factura No.</th>
                  <th>Fecha Factura</th>
                  <th>Fecha Vencimiento</th>
                  <th>Saldo</th>
                  <th>Abono</th>
                  <th>Estado Cuenta</th>
                  
              <!-- <th>Obervaciones</th> -->
                </tr>
              </thead>     

              </table>
          </div>
        </div>
      </div>
    </div>
</div>

    </div>
     
    







