<nav class="panel container flex-column justify-content-between">
  <div>
    <ul class="nav flex-column">
      <li class="nav-item my-1">
        <img class="nav-link active" href="#" src="../../../assets/img/logo-2.png">
      </li>
    </ul>
    <div class="recepcion" *ngIf="categoria === 0">
      <ul class="nav flex-column">
        <div class="container pl-0 pr-0" *ngIf="categoria !== 0">
          <hr style="background-color: white; margin: 15px -15px;">
          <div class="row justify-content-center align-items-center">
            <span style="font-size: .8rem" class="text-light">Recepcion</span>
          </div>
          <hr style="background-color: white; margin: 15px -15px;">
        </div>
        <hr style="background-color: white; margin: 15px -15px;">
        <!-- Lista -->
        <li class="nav-item">
          <div class="container pl-0 pr-0">
            <div class="row justify-content-start" routerLinkActive="active">
              <a class="nav-link" href="#" routerLink="/reserva">
                <p class="text-light" style="font-size: .8rem">
                  <i class="fas fa-ticket-alt"></i>
                  Reserva de Tutorias</p>
              </a>
            </div>
          </div>
        </li>
        <!--  -->
        <li class="nav-item">
          <div class="container pl-0 pr-0">
            <div class="row justify-content-start" routerLinkActive="active">
              <a class="nav-link" href="#" routerLink="/registro">
                <p class="text-light" style="font-size: .8rem">
                  <i class="fas fa-user-graduate"></i>
                  Registro de Matriculas</p>
              </a>
            </div>
          </div>
        </li>
        <!--  -->
        <li *ngIf="false" class="nav-item">
          <div class="container pl-0 pr-0">
            <div class="row justify-content-start" routerLinkActive="active">
              <a class="nav-link" href="#" routerLink="/historial">
                <p class="text-light" style="font-size: .8rem">Green Cards</p>
              </a>
            </div>
          </div>
        </li>
        <!-- -->
        <li class="nav-item">
          <div class="container pl-0 pr-0">
            <div class="row justify-content-start" routerLinkActive="active">
              <a class="nav-link" href="#" routerLink="/record">
                <p class="text-light" style="font-size: .8rem">
                  <i class="fas fa-th-list"></i>
                  Record de Produccion</p>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- Seccion Administrador -->
    <div class="administracion" *ngIf="categoria === 0">
      <ul class="nav flex-column align-items-start">
        <div class="container pl-0 pr-0" *ngIf="categoria !== 0">
          <hr style="background-color: white; margin: 15px -15px;">
          <div class="row justify-content-center align-items-center">
            <span style="font-size: 0.8rem ; color: white;" class="text-light">Administración</span>
          </div>
          <hr style="background-color: white; margin: 15px -15px;">
        </div>
        <!--  -->
        <li class="nav-item">
          <div class="container pl-0 pr-0">
            <div class="row justify-content-start" routerLinkActive="active">
              <a class="nav-link" href="#" routerLink="/lista">
                <p class="text-light" style="font-size: .8rem">
                  <i class="fas fa-address-book"></i>
                  Lista de Clientes
                </p>
              </a>
            </div>
          </div>
        </li>
        <!--  -->
        <li class="nav-item">
          <div class="container pl-0 pr-0">
            <div class="row justify-content-start" routerLinkActive="active">
              <a class="nav-link" href="#" routerLink="/pagos">
                <p class="text-light" style="font-size: .8rem">
                  <i class="fas fa-dollar-sign"></i>
                  Pagos de Mensualidad</p>
              </a>
            </div>
          </div>
        </li>
        <!-- -->
        <!-- <li class="nav-item">
          <div class="container">
            <div class="row justify-content-center" routerLinkActive="active">
              <a style="font-size: 0.8rem;  color: white;" class="nav-link" href="#" routerLink="/estado-cuenta">
                <p class="text-light" style="font-size: .8rem">
                  <i class="fas fa-wallet"></i>
                  Estado Cuenta</p>
              </a>
            </div>
          </div>
        </li> -->
        <!--  -->
        <li class="nav-item">
          <div class="container pl-0 pr-0">
            <div class="row justify-content-start" routerLinkActive="active">
              <a style="font-size: 0.8rem;  color: white;" class="nav-link" href="#" routerLink="/ayuda">
                <p class="text-light" style="font-size: .8rem">
                  <i class="fas fa-question-circle"></i>
                  Ayuda
                </p>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div class="img" style="position: relative; padding-top: 1vh;">
      <a href="#" style="text-decoration: none; font-size: 0.99rem; color: white ">
        Salir
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </div>
  </div>
</nav>
