#codigoMatricula{
    background: none;
}

input{
    color: black;
    width: 100%;
    margin-top: 3px;
    margin-right: 2px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;  
    /* border-bottom: solid 2px wheat !important; */
}

textarea{
    color: blue;
    border-radius: 2px;
    border: solid 2px whitesmoke;
}

textarea:hover{
    border: solid 2px rgba(0,0,255,0.4);
}