<div class="container d-flex justify-content-center aling-items-center flex-column" style="height: 100vh;">
  <!-- <form (ngSubmit)="create()"> -->
  <div class="row">
    <div class="col-lg-2">
      <input type="text" id="codigoMatricula" placeholder="Codigo Matricula" [(ngModel)]="codigoMatricula" name="id"
        required>
      <!-- <p>{{ titular.id }}</p> -->
    </div>
    <div class="col-lg-2">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" [(ngModel)]="contrato.fecha_contrato" (change)="mostrarfecha()" name="fecha_contrato" placeholder="Fecha de Matricula">
        <mat-datepicker-toggle matSuffix [for]="picker" (change)="mostrarfecha()"></mat-datepicker-toggle>
        <mat-datepicker #picker (change)="mostrarfecha()"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <!-- ----------------------------------------------------------------------- -->
  <!-- -----------------------------Titular------------------------------- -->
  <!-- ----------------------------------------------------------------------- -->
  <form (ngSubmit)="createTitular()">
    <div class="row">
      <div class="col-lg-12">
        <div class="card rounded-0">
          <div class="card-header bg-primary rounded-0 text-white text-center p-0">
            Titular
          </div>
          <div class="card-body p-2">
            <div class="container pl-0 pr-0">
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" placeholder="Nombres" [(ngModel)]="personaTitular.nombre" name="nombreTitular"
                    required>
                  <!-- <p>{{ personaTitular.nombre }}</p> -->
                </div>
                <div class="col-lg-6">
                  <input type="text" placeholder="Apellidos" [(ngModel)]="personaTitular.apellido"
                    name="apellidoTitular" required>
                  <!-- <p>{{ personaTitular.apellido}}</p> -->
                </div>
              </div>
              <div class="row">
                <!-- <div class="col-md-3 pr-0">
                      <input type="text" placeholder="Fecha de Nacimiento" required>
                    </div>
                    <div class="col-md-3">
                      <input type="text" placeholder="Estado Civil" required>
                    </div> -->
                <!-- <div class="col-md-3 pr-0">
                      <input type="text" placeholder="Profesion" required>
                    </div> -->
                <div class="col-md-6">
                  <input type="text" placeholder="Cedula de Identidad" [(ngModel)]="clienteTitularDTO.cedula"
                    name="cedula" required>
                  <!-- <p>{{ clienteTitularDTO.cedula }}</p> -->
                </div>
              </div>
              <div class="row flex-row">
                <div class="col-md-6">
                  <textarea class="my-1 mb-0" placeholder="Direccion Residencia"
                    [(ngModel)]="clienteTitularDTO.direccion" name="direccionDomicilio" cols="68" rows="2"></textarea>
                  <!-- <p>{{ clienteTitularDTO.direccion }}</p> -->
                  <input class="my-0" type="text" placeholder="Empresa" [(ngModel)]="titular.nombreTrabajo"
                    name="nombreEmpresa" required>
                  <!-- <p>{{ titular.nombreTrabajo }}</p> -->
                </div>
                <div class="col-md-6">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6 pl-0 pr-0">
                        <input class="mr-1" type="text" placeholder="Telefono" [(ngModel)]="telefonoTitular.telefono"
                          name="telefono" required>
                        <p>{{ telefonoTitular.telefono }}</p>
                      </div>
                      <div class="col-sm-6">
                        <!-- <div class="d-flex flex-row">
                          <div class="custom-control custom-checkbox pr-1">
                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                            <label class="custom-control-label" for="defaultUnchecked">Empleado</label>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultUncheck">
                            <label class="custom-control-label" for="defaultUncheck">Independiente</label>
                          </div>
                        </div> -->
                        <!-- <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                    <label class="custom-control-label" for="defaultUnchecked">Hogar</label>
                            </div> -->
                      </div>
                      <div class="container">
                        <div class="row">
                          <div class="col-sm-8 pl-0 pr-0">
                            <textarea class="my-2 pb-0" placeholder="Direccion Trabajo"
                              [(ngModel)]="titular.direccionTrabajo" name="direccionTrabajo" cols="40"
                              rows="2"></textarea>
                            <!-- <p>{{ titular.direccionTrabajo }}</p> -->
                          </div>
                          <div class="col-sm-4 pl-0 pr-0">
                            <input class="my-2" type="text" placeholder="Telefono Trabajo"
                              [(ngModel)]="titular.telefonoTrabajo" name="telefono" style="height: 50px;" required>
                            <!-- <p>{{ titular.telefonoTrabajo }}</p> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-between">
              <!-- <div class="col-sm-2 pr-1">
                    <input type="text" placeholder="Fecha de Ingreso" required>
                  </div>
                  <div class="col-sm-2 pl-0 pr-1">
                    <input type="text" placeholder="Cargo" required>
                  </div> -->
              <div class="col-sm-2 pl-3">
                <input type="text" placeholder="Ingreso Mensual" [(ngModel)]="titular.salario" name="salario" required>
                <!-- <p>{{ titular.salario }}</p> -->
              </div>
              <div class="col-sm-2">
                <!-- <input type="email" placeholder="Email" required> -->
              </div>
              <div class="col-sm-2">
                <div class="d-flex justify-content-end">
                  <button class="btn btn-primary rounded-0" type="submit">Registrar Titular</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- ----------------------------------------------------------------------- -->
  <!-- -----------------------------Referencias------------------------------- -->
  <!-- ----------------------------------------------------------------------- -->
  <!-- <div class="row">
    <div class="col-lg-12">
      <div class="card my-1 rounded-0">
        <div class="card-header text-center text-white p-1 bg-primary rounded-0">Referencias</div>
        <div class="card-body p-1">
          <div class="container pl-0 pr-0">
            <div class="row">
              <div class="col-md-6">
                <div class="d-flex flex-row">
                  <input type="text" placeholder="Nombres y Apellidos" required>
                  <input type="text" placeholder="Telefono" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex flex-row">
                  <input type="text" placeholder="Nombres y Apellidos" required>
                  <input type="text" placeholder="Telefono" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex flex-row">
                  <input type="text" placeholder="Nombres y Apellidos" required>
                  <input type="text" placeholder="Telefono" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex flex-row">
                  <input type="text" placeholder="Nombres y Apellidos" required>
                  <input type="text" placeholder="Telefono" required>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- ----------------------------------------------------------------------- -->
  <!-- ---------------------------------Usuario------------------------------- -->
  <!-- ----------------------------------------------------------------------- -->
  <form (ngSubmit)="createAlumno()">
    <div class="row">
      <div class="col-lg-12">
        <div class="card my-1 rounded-0">
          <div class="card-header text-center text-white p-1 bg-primary rounded-0">Usuario</div>
          <div class="card-body p-1">
            <div class="row">
              <div class="col-lg-3">
                <input type="text" placeholder="Nombres" [(ngModel)]="personaAlumno.nombre" name="nombre" required>
                <!-- <p>{{ personaAlumno.nombre }}</p> -->
              </div>
              <div class="col-lg-3">
                <input type="text" placeholder="Apellidos" [(ngModel)]="personaAlumno.apellido" name="apellido"
                  required>
                <!-- <p>{{ personaAlumno.apellido }}</p> -->
              </div>
              <div class="col-lg-3">
                <input type="text" placeholder="Direccion" [(ngModel)]="clienteAlumnoDTO.direccion" name="direccion">
                <!-- <p>{{ clienteAlumnoDTO.direccion }}</p> -->
              </div>
              <div class="col-lg-3">
                <input type="text" placeholder="Telefono" [(ngModel)]="telefonoAlumno.telefono" name="telefono"
                  required>
                <!-- <p>{{ telefonoAlumno.telefono }}</p> -->
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <input type="text" placeholder="Cedula de Identidad" [(ngModel)]="clienteAlumnoDTO.cedula" name="cedula"
                  required>
                <!-- <p>{{ clienteAlumnoDTO.cedula }}</p> -->
              </div>
              <!-- <div class="col-lg-4">
                      <input type="text" placeholder="Fecha de Nacimiento" required>
                  </div> -->
              <div class="col-lg-6">
                <input type="email" placeholder="Email" [(ngModel)]="correoAlumno.correo" name="correo" required>
                <!-- <p>{{ correoAlumno.correo }}</p> -->
              </div>
            </div>
            <div class="row my-1">
              <div class="col-lg-12">
                <div class="d-flex justify-content-end">
                  <button class="btn btn-primary rounded-0 mr-1" type="submit">Registrar Alumno</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- </form> -->
  <form (ngSubmit)="create()">
    <!-- ----------------------------------------------------------------------- -->
    <!-- ----------------------Condiciones Economicas--------------------------- -->
    <!-- ----------------------------------------------------------------------- -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card my-1 rounded-0">
          <!-- <div class="card-header text-center text-white p-1 bg-primary rounded-0">Condiciones Economicas</div> -->
          <div class="card-body d-flex flex-column justify-content-around" style="padding: 2px 0px;">
            <!-- Plan -->
            <div class="row m-2 justify-content-between">
              <div class="card rounded-0 mr-2 d-flex flex-row">
                <div class="card-header text-center py-1 bg-danger text-white rounded-0">
                  Meses
                </div>
                <div class="card-body justify-content-center p-0">
                  <select style="width: 100%; border-radius: 0px;" class="btn btn-light" [(ngModel)]="selectedPlan"
                    name="plan" (change)="selected()">
                    <option *ngFor="let item of planes" [ngValue]="item.cantidadMeses">{{item.cantidadMeses}}</option>
                  </select>
                </div>
              </div>
              <input type="text" placeholder="Valor total" style="width: 100px"
                [(ngModel)]="planSeleccionado.valorTotal" name="total" value="{{planSeleccionado.valorTotal}}">
              <input type="text" placeholder="Abono" style="width: 80px">
              <input type="text" placeholder="Inscripcion" style="width: 100px"
                [(ngModel)]="planSeleccionado.inscripcion" name="inscripcion" value="{{planSeleccionado.inscripcion}}">
              <input type="text" placeholder="Costo mensual" style="width: 120px"
                [(ngModel)]="planSeleccionado.costoMensual" value="{{planSeleccionado.costoMensual}}"
                name="mensualidad">
              <input type="text" placeholder="Valor restante" style="width: 100px"
                value="{{ valorRestante }}">
              <!-- Forma de Pago -->
              <div class="card rounded-0 m-0 p-0 mr-2 d-flex flex-row" style="width: 30%;">
                <div class="card-header text-center py-1 bg-danger text-white rounded-0">
                  Forma/Pago
                </div>
                <div class="card-body justify-content-center p-0">
                  <select style="width: 100%; border-radius: 0px;" class="btn btn-light" [(ngModel)]="selectedForma"
                    name="forma" (change)="selectedFormaPago()">
                    <option *ngFor="let item of formas" [ngValue]="item.descripcion">{{item.descripcion}}</option>
                  </select>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="row my-1 justify-content-between">  
              <div class="col-lg-3">
                    <div class="card rounded-0 m-0 p-0 ml-2 mr-2 d-flex flex-row">
                        <div class="card-header text-center py-1 bg-danger text-white rounded-0">
                          Asesor
                        </div>
                        <div class="card-body justify-content-center p-0">
                          <select style="width: 100%; border-radius: 0px;" class="btn btn-light" [(ngModel)]="selectedAsesor"
                            name="forma" (change)="selectedAsesores()">
                            <option *ngFor="let item of asesores" [ngValue]="item.empleado.persona.nombre">{{item.empleado.persona.nombre}}</option>
                          </select>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3">
                    <div class="card rounded-0 m-0 p-0 mr-2 d-flex flex-row">
                        <div class="card-header text-center py-1 bg-danger text-white rounded-0">
                          Estrategia
                        </div>
                        <div class="card-body justify-content-center p-0">
                          <select style="width: 100%; border-radius: 0px;" class="btn btn-light" [(ngModel)]="selectedEstrategia"
                            name="forma" (change)="selectedEstrategias()">
                            <option *ngFor="let item of estrategias" [ngValue]="item.descripcion">{{item.descripcion}}</option>
                          </select>
                        </div>
                      </div>
                </div>
              <div class="col-lg-6">
                <div class="d-flex mr">
                  <button class="btn btn-primary rounded-0 mr-2" type="submit">Registrar
                    Matricula</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>