<div class="container d-flex justify-content-center aling-items-center flex-column" style="height: 100vh;">
  <!-- ----------------------------------------------------------------------- -->
  <!-- -----------------------------Titular------------------------------- -->
  <!-- ----------------------------------------------------------------------- -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header text-center p-0">
          Titular
        </div>
        <div class="card-body p-2">
          <div class="container pl-0 pr-0">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" placeholder="Nombres" required>
              </div>
              <div class="col-lg-6">
                <input type="text" placeholder="Apellidos" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 pr-0">
                <input type="text" placeholder="Fecha de Nacimiento" required>
              </div>
              <div class="col-md-3">
                <input type="text" placeholder="Estado Civil" required>
              </div>
              <div class="col-md-3 pr-0">
                <input type="text" placeholder="Profesion" required>
              </div>
              <div class="col-md-3">
                <input type="text" placeholder="Cedula de Identidad" required>
              </div>
            </div>
            <div class="row flex-row">
              <div class="col-md-6">
                <textarea class="my-1 mb-0" placeholder="Direccion Residencia" name="" id="" cols="67"
                  rows="2"></textarea>
                <input class="my-0" type="text" placeholder="Empresa" required>
              </div>
              <div class="col-md-6">
                <div class="container">
                  <div class="row">
                    <div class="col-md-3 pl-0 pr-0">
                      <input class="mr-1" type="text" placeholder="Telefono" required>
                    </div>
                    <div class="col-md-3 pl-0 pr-0">
                      <input class="ml-1" type="text" placeholder="Celular" required>
                    </div>
                    <div class="col-sm-6">
                      <div class="d-flex flex-row">
                        <div class="custom-control custom-checkbox pr-1">
                          <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                          <label class="custom-control-label" for="defaultUnchecked">Empleado</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                          <label class="custom-control-label" for="defaultUnchecked">Independiente</label>
                        </div>
                      </div>
                      <!-- <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                              <label class="custom-control-label" for="defaultUnchecked">Hogar</label>
                          </div> -->
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-8 pl-0 pr-0">
                          <textarea class="my-2 pb-0" placeholder="Direccion Trabajo" name="" id="" cols="40"
                            rows="2"></textarea>
                        </div>
                        <div class="col-sm-4 pl-0 pr-0">
                          <input class="my-2" type="text" placeholder="Telefono" style="height: 50px;" required>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 pr-1">
              <input type="text" placeholder="Fecha de Ingreso" required>
            </div>
            <div class="col-sm-2 pl-0 pr-1">
              <input type="text" placeholder="Cargo" required>
            </div>
            <div class="col-sm-2 pl-0">
              <input type="text" placeholder="Ingreso Mensual" required>
            </div>
            <div class="col-sm-6">
              <input type="email" placeholder="Email" required>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------------------------------------------- -->
  <!-- -----------------------------Referencias------------------------------- -->
  <!-- ----------------------------------------------------------------------- -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card my-1">
        <div class="card-header text-center p-1">Referencias</div>
        <div class="card-body p-1">
          <div class="container pl-0 pr-0">
            <div class="row">
              <div class="col-md-6">
                <div class="d-flex flex-row">
                  <input type="text" placeholder="Nombres y Apellidos" required>
                  <input type="text" placeholder="Telefono" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex flex-row">
                  <input type="text" placeholder="Nombres y Apellidos" required>
                  <input type="text" placeholder="Telefono" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex flex-row">
                  <input type="text" placeholder="Nombres y Apellidos" required>
                  <input type="text" placeholder="Telefono" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex flex-row">
                  <input type="text" placeholder="Nombres y Apellidos" required>
                  <input type="text" placeholder="Telefono" required>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------------------------------------------- -->
  <!-- ----------------------Condiciones Economicas--------------------------- -->
  <!-- ----------------------------------------------------------------------- -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card my-1">
        <div class="card-header text-center p-1">Condiciones Economicas</div>
        <div class="card-body d-flex flex-row justify-content-around" style="padding: 2px 0px;">
          <!-- Plan -->
          <div class="card m-0 p-0 mr-2 d-flex flex-row" style="width: 15%;">
            <div class="card-header text-center py-1 bg-danger text-white">
              Plan
            </div>
            <div class="card-body justify-content-center p-0">
              <select style="width: 100%; border-radius: 0px;" class="btn btn-light" [(ngModel)]="selectedPlan"
                (change)="selected()">
                <option *ngFor="let item of plan" [ngValue]="item">{{item.name}}</option>
              </select>
            </div>
          </div>
          <input type="text" placeholder="Abono Material" style="width: 30%;">
          <!-- Forma de Pago -->
          <div class="card m-0 p-0 mr-2 d-flex flex-row" style="width: 30%;">
              <div class="card-header text-center py-1 bg-danger text-white">
                Forma/Pago
              </div>
              <div class="card-body justify-content-center p-0">
                <select style="width: 100%; border-radius: 0px;" class="btn btn-light" [(ngModel)]="selectedForma"
                  (change)="selected()">
                  <option *ngFor="let item of forma" [ngValue]="item">{{item.name}}</option>
                </select>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------------------------------------------- -->
  <!-- ---------------------------------Usuario------------------------------- -->
  <!-- ----------------------------------------------------------------------- -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card my-1">
        <div class="card-header text-center p-1">Usuario</div>
        <div class="card-body p-1">
          <div class="row">
            <div class="col-lg-6">
              <input type="text" placeholder="Nombres y Apellidos" required>
            </div>
            <div class="col-lg-3">
                <input type="text" placeholder="Direccion">
            </div>
            <div class="col-lg-3">
                <input type="text" placeholder="Telefono" required>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
                <input type="text" placeholder="Cedula de Identidad" required>
            </div>
            <div class="col-lg-4">
                <input type="text" placeholder="Fecha de Nacimiento" required>
            </div>
            <div class="col-lg-4">
                <input type="email" placeholder="Email" required>
            </div>
          </div>
          <div class="row my-1">
            <div class="col-lg-12">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
